#app,body {
    padding: 0;
    margin: 0;
}
body {
    background: url(../assets/taxiPhotobg.jpg) center / cover no-repeat;
}
.homepageTeaser {
    background: url(../assets/taxi-photo.png) center /cover no-repeat;
}