#app,body {
    padding: 0;
    margin: 0;
}
body {
    background: #4a4a4a;
}
.homepageTeaser {
    background: url(../assets/taxiPhotobg.jpg) 0% 70% / cover no-repeat;
}
.homepageCarousel {
    background: url(../assets/taxiPhotobg.jpg) center / cover no-repeat;
}