.headerContainer {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
  align-items: end;
  border-bottom: 3px solid #ffc000;
  position: fixed;
  top: 0px;
  width: calc(100% - 80px);
  z-index: 2;
  &Title {
    margin: 0;
    font-weight: 500;
    color: #fff;
    padding: 10px 0;
    flex: 1;
  }
  .headerContainerButtons {
    display: flex;
    gap: 8px;
    background-color: #ffc000;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 0;
  }
  h2 {
    padding: 10px 0;
    flex: 1;
    color: #ffc000;
    font-weight: 500;
    font-family: Raleway, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
  }
}
.button-primary {
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
  line-height: 24px;
  padding: 4px 12px;
  text-decoration: none;
  color: #000;
  height: fit-content;
  font-family: Raleway, Helvetica, sans-serif;
  &:hover {
    background-color: #fff;
    color: #ffc000;
    border-radius: 20px;
  }
}
.router-link-active {
  background-color: #fff;
  color: #ffc000;
  border-radius: 20px;
}
