.homepageTeaser {
  display: flex;
  padding: 40px 0;
  gap: 32px;
  &Photo {
    width: 100%;
    position: relative;
    &Image {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 4/3;
      object-position: 0 75%;
      border-radius: 12px;
      transition: all 0.4s ease-in-out;
      &:hover {
        filter: blur(10px);
      }
    }
    &Text {
      position: absolute;
      color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-weight: 500;
      visibility: hidden;
      transition: all 0.4s ease-in-out;
    }
  }
  &Text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    h3 {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    .button-primary {
      background-color: #ffdd00;
      width: fit-content;
      margin: 0 auto;
      transition: all 0.5s ease-in-out;
      &:hover {
        background-color: rgba(182, 158, 2, 0.722);
    }
    }
  }
}
.card {
  .swiperBullets {
    height: 300px;
  }
  .bulletPanel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 500;
  }
}
.faq-slider {
  display: flex;
  padding: 0 !important;
  gap: 32px;
  & > * {
    width: 100%;
  }
}
.faq {
  overflow-y: auto;
  scrollbar-width: thin;
  margin-top: 32px;
  padding-right: 32px;
}
.accordion {
  height: 300px;
  h3 {
    font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      margin: 0;
      padding: 0 0 0 16px;
}
&__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  &:first-of-type {
    margin: 0 0 16px 0;
  }
}
&-content {
  padding: 0;
  margin: 0 16px;
}
}
.famousDestinations {
  padding: 32px 0;
  h2,h5 {
    font-family: Raleway, Helvetica, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  h2 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 40px;
    border-bottom: 2px solid #ffdd00;
    padding-bottom: 8px;
  }
  h5 {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    margin-top: 16px;
  }
  .destinationCard {
    .destinationWrapper {
      .carouselImg {
        width: 100%;
        aspect-ratio: 2/3;
        object-fit: cover;
        display: block;
        position: relative;
        overflow: hidden;
        border-radius: 4px;
      }
    }
  }
}